<!DOCTYPE html>
@{ 
    HandleErrorInfo error = Model as HandleErrorInfo;
    string data = "Nothing to show here, move along!";
    if(error != null)
    {
      data = error.Exception.ToString();
    }
    else
    {
      Exception oops = Model as Exception;
      if(oops != null)
      {
        data = oops.ToString();
      }
    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
        <p>@data</p>
</body>
</html>
