@{
  ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Developer</h3>

<address>
  4154 County Road 1655<br />
  Grapeland, TX 75844<br />
  <abbr title="Phone">P:</abbr>
  832.845.2987
</address>

<address>
  <strong>Developer:</strong>   <a href="mailto:Sep.vanessen@gmail.com">Sebastiaan</a><br />
</address>

<h4> Warmachine / Hordes is a product of Privateer press.</h4>
<h3>Privateer Press contact info.</h3>

<address>
  21220  87th Ave. S.E.<br />
  Woodinville, WA  98072<br />
  <abbr title="Phone">P:</abbr>
  425.643.5902
</address>

<address>
  <strong>Privateer press Support:</strong>   
  <a href="support@privateerpress.com">support@privateerpress.com</a><br />
                                                                                                                 <strong>Privateer press Website:</strong>                                                                         <a href="https://home.privateerpress.com/">privateerpress.com</a><br />
</address>